body {
    height: 662px;
 background-image: url("http://paper-backgrounds.com/textureimages/2012/06/pen-on-table-vintage-background-hd.jpg");
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
    
}
h2 {
    color: black;
}