body{
    background-image: url("../images/bookseats.jpg");
    height:662px;
    width:1362px;
    background-size: cover;
 
    

}
/* Padding - just for asthetics on Bootsnipp.com */
/*http://ak5.picdn.net/shutterstock/videos/12529565/thumb/1.jpg*/


